<div class="main_content">
    <div class="dash_board_top">
        <div class="as_logo">
            <label><span class="as_logo_single">AS</span> Riders</label>
        </div>
    </div>

    <div class="dash_board_body">
        <p-tabView [(activeIndex)]="activeIndex" [scrollable]="true">
            <p-tabPanel header="Dashboard" [ngClass]="{'tab_active':activeIndex==0}">

                <div class="dashboard_here">
                    <div class="main_header">
                        <h2>Your Dashboard</h2>
                    </div>

                    <div class="y_dashboard">
                        <div class="my_balance">
                            <h6>Balance</h6>
                            <div>
                                <span class="rupees_cntnt rupees">1000</span>
                            </div>
                            <div class="balance_action">
                                <p-button pButton pRipple label="Withdraw"></p-button>
                            </div>
                        </div>

                        <div class="my_balance">
                            <h6>Transactions</h6>
                            <div>
                                <span class="rupees_cntnt">100</span>
                            </div>
                            <div class="balance_action">
                                <p-button pButton pRipple label="View"></p-button>
                            </div>
                        </div>

                        <div class="my_balance">
                            <h6>Team Balance</h6>
                            <div>
                                <span class="rupees_cntnt rupees">100</span>
                            </div>
                            <div class="balance_action">
                                <p-button pButton pRipple label="View"></p-button>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="our_products ">
                    <div class="products_head">
                        <h5>Products</h5>

                        <div>
                            <p-button pButton pRipple label="View All"></p-button>
                        </div>
                    </div>

                    <div class="products_cntnt">
                        <div class="flex h-full gap-3">
                            <div class="product_card vip_0">
                                <div class="user_images">

                                </div>
                                <div class="product_card_cntnt ">
                                    <div class="cntnt_name">
                                        <h6>Two Wheeler</h6>
                                        <label>(TPU2.5L-C)</label>
                                    </div>
                                    <div class="flex gap-1 flex-column align-items-center justify-content-center">
                                        <label class="flex gap-2"><span>Price: </span>
                                            <h6 class="rupees">0</h6>
                                        </label>

                                        <label class="flex gap-2"><span>D-Income: </span>
                                            <h6 class="rupees d_income">15.2</h6>
                                        </label>

                                        <label class="flex gap-2"><span>R-Income: </span>
                                            <h6 class="rupees">5518.8</h6>
                                        </label>
                                        <label class="flex gap-2"><span>Purchase Limit: </span> <span><span
                                                    class="theme_color">0</span>/1</span>

                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="product_card vip_1">
                                <div class="user_images">

                                </div>
                                <div class="product_card_cntnt ">
                                    <div class="cntnt_name">
                                        <h6>Two Wheeler</h6>
                                        <label>(TPU2.5L-C)</label>
                                    </div>
                                    <div class="flex gap-1 flex-column align-items-center justify-content-center">
                                        <label class="flex gap-2"><span>Price: </span>
                                            <h6 class="rupees">650</h6>
                                        </label>

                                        <label class="flex gap-2"><span>D-Income: </span>
                                            <h6 class="rupees d_income">64.8</h6>
                                        </label>

                                        <label class="flex gap-2"><span>R-Income: </span>
                                            <h6 class="rupees">2916</h6>
                                        </label>

                                        <label class="flex gap-2"><span>Purchase Limit: </span> <span><span
                                                    class="theme_color">0</span>/1</span>

                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="invitation_code">
                    <div class="invitation_references">
                        <h6>Invite friends to get reward <span class="rupees">75</span></h6>
                        <label>Invite friends to AS Riders and get <span class="rupees">75</span> when your friend
                            purchase
                            one product. they get <span class="rupees">25</span></label>
                        <div>
                            <label>Copy your code <strong>Asr001</strong></label>
                        </div>
                    </div>
                    <div>
                        <p-button pButton pRipple label="Submit"></p-button>
                    </div>
                </div>

            </p-tabPanel>

            <p-tabPanel header="Recharge"  [ngClass]="{'tab_active':activeIndex==1}">
                <div class="recharge_cntnt">
                    <h5 class="theme_color">Recharge</h5>

                    <div class="recharge_body">
                        <div class="recharge_card"></div>
                        <div class="flex flex-column gap-1">
                            <label>Choose Amount</label>

                            <div>
                                <p-dropdown optionLabel="name" [showClear]="true"
                                    placeholder="Select a Plan"></p-dropdown>
                            </div>
                        </div>

                        <div>
                            <input type="text" pInputText />
                        </div>

                        <div>
                            <h6>Recharge Methods</h6>
                        </div>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="My Orders"  [ngClass]="{'tab_active':activeIndex==2}">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
                    est
                    et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                    quo
                    minus.
                </p>
            </p-tabPanel>

            <p-tabPanel header="Guide"  [ngClass]="{'tab_active':activeIndex==3}">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
                    est
                    et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                    quo
                    minus.
                </p>
            </p-tabPanel>
        </p-tabView>
    </div>

    <div class="dash_board_footer">
        <div class="dash_board_footer_design">
            <!-- <p-selectButton optionLabel="icon">
                <ng-template>
                    <i class="pi pi-home"></i>
                </ng-template>
            </p-selectButton> -->
            <div class="dash_board_icon">
                <span><i class="pi pi-home"></i></span>
                <label for="">Home</label>
            </div>

            <div class="dash_board_icon">
                <span><i class="pi pi-box"></i></span>
                <label for="">Products</label>
            </div>

            <div class="dash_board_icon">
                <span><i class="pi pi-shopping-cart"></i></span>
                <label for="">Cart</label>
            </div>

            <div class="dash_board_icon">
                <span><i class="pi pi-user"></i></span>
                <label for="">Account</label>
            </div>


        </div>
    </div>
</div>