<title>Forgot Password</title>


<div class="as_pages flex-column gap-5 align-items-center justify-content-center">

    <div class="as_logo_cntnt">
        <div class="as_logo">
            <label><span class="as_logo_single">AS</span> Riders</label>
        </div>
        <label>Receive <span class="hilighted_text">₹68</span> reward and daily income of <span
            class="hilighted_text">₹15</span> (accumulated <span class="hilighted_text">₹5600</span> )</label>
    </div>

    <div class="as_log_pages">
        <div class="box">
            <div class="form">
                <h2>Forgot Password</h2>

                <div class="form_1">
                    <div class="inputBox">
                        <input type="text" pInputText placeholder="Mobile Number" required="required">
                        <i></i>
                    </div>


                    <div class="inputBox">
                        <input type="text" pInputText placeholder="Verification Code" required="required">
                        <i></i>
                        <a href="#">send</a>
                    </div>

                    <div class="inputBox">
                        <input type="password" pInputText placeholder="Password" required="required">
                        <i></i>
                    </div>

                    <div class="inputBox">
                        <input type="password" pInputText placeholder="Repeat Password" required="required">
                        <i></i>
                    </div>

                    

                </div>

                <p-button pButton pRipple label="Confirm Password" (click)="onLoginClick()"></p-button>
            </div>
        </div>
    </div>

</div>

