<title>Login</title>

<div class="as_pages flex-column gap-5 align-items-center justify-content-center">

    <div class="as_logo_cntnt">
        <div class="as_logo">
            <label><span class="as_logo_single">AS</span> Riders</label>
        </div>
        <label>Join us to mnage your investments and create superior returns togethers</label>
    </div>

    <div class="as_log_pages">
        <div class="box">
            <div class="form">
                <h2>Login</h2>
                <div class="form_1">
                    <div class="inputBox">
                        <input type="text" required="required" placeholder="Mobile Number">
                        <!-- <span>Mobile phone number</span> -->
                        <i></i>
                    </div>

                    <div>
                        <div class="inputBox">
                            <input type="password" required="required" placeholder="Security Password">
                            <!-- <span></span> -->
                            <i></i>
                        </div>
                        <div class="links">
                            <a href="#">Forgot Password?</a>
                            <a href="#">Sign Up</a>
                        </div>
                    </div>

                </div>

                <button (click)="onLoginClick()">Login</button>
                <!-- <input type="submit" value="Login"> -->
            </div>
        </div>
    </div>

</div>