<div class="dash_board_footer">
    <div class="dash_board_footer_design">
        <!-- <p-selectButton optionLabel="icon">
            <ng-template>
                <i class="pi pi-home"></i>
            </ng-template>
        </p-selectButton> -->
        
        <div class="dash_board_icon">
            <span><i class="pi pi-home"></i></span>
            <label for="">Home</label>
        </div>

        <div class="dash_board_icon">
            <span><i class="pi pi-box"></i></span>
            <label for="">Products</label>
        </div>

        <div class="dash_board_icon">
            <span><i class="pi pi-shopping-cart"></i></span>
            <label for="">Cart</label>
        </div>

        <div class="dash_board_icon">
            <span><i class="pi pi-user"></i></span>
            <label for="">Account</label>
        </div>


    </div>
</div>