:root {
    --theme_color: #018abe;
    --theme_gray_color: #a2a2b1;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --linear_gradient: linear-gradient(#0dcaf0, rgb(1 138 190));
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #ececec;
}

::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 10px;
}

.sample_padding {
    padding: 10px;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

ol,
ul {
    padding-left: 18px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.p-dropdown{
    width: 100%;
}

app-root,
app-layout,
.layout-wrapper,
app-cart,
ng-component,
app-login,
app-signup,
app-fgpwd,
app-dashboard,
app-accounts,
app-product,
app-addaccount,
app-consumption,
app-about,
app-help,
app-referals,
app-finance {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.p-tabview-nav-content ul {
    flex-direction: initial;
    padding: 0;
    gap: initial;
}

.p-inputtext:enabled:focus,
.p-dropdown:not(.p-disabled).p-focus {
    box-shadow:
        inset 0 0 0 1px var(--theme_color),
        inset 0 0 0 1px var(--theme_color),
        inset 0 0 0 1px var(--theme_color),
        inset 0 0 0 1px var(--theme_color);
}

.p-inputtext:enabled:focus,
.p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: var(--theme_color);
}

.as_logo_cntnt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 380px;
    text-align: center;
}

.as_logo {
    border-bottom: 1px solid var(--theme_color);
    width: fit-content;
}

.as_logo label {
    color: var(--theme_color);
    font-size: 18px;
    align-items: end;
    display: flex;
    gap: 5px;
}

.as_logo_single {
    font-size: 26px;
    border: 1px solid var(--theme_color);
    color: #fff;
    background: var(--theme_color);
    padding: 6px;
    border-radius: 3px 3px 0 0;
}

.as_pages {
    display: flex;
    height: 100%;
    overflow: auto;
    padding: 10px;
    background: #ecf0f3;
}

.hilighted_text {
    font-weight: 600;
    color: var(--theme_color);
}

.as_log_pages {
    display: flex;
    background: #1c1c1c;
    border-radius: 8px;
    padding: 1px;
}

.form_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;
    overflow: auto;
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292df5;
    z-index: 10;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputBox a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    padding: 0 6px;
    color: #fff;
}

.input_field {
    color: #fff;
    display: flex;
    /* align-items: center; */
    gap: 7px;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    background-color: transparent;
    border: 0;
}

.main_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.dash_board_top {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}
.dash_board_top .as_logo label .as_logo_single {
    font-size: 20px;
}

.dash_board_body {
    display: flex;
    flex: 1;
    overflow: auto;
    background-color: #ffffff;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #fff;
    background-color: var(--theme_color);
    border-radius: 8px;
}

.p-tabview-nav-content {
    padding: 10px;
}

.p-tabview .p-tabview-nav {
    border: 1px solid #e9e9e9;
    background-color: #e9e9e9;
    display: flex;
    /* gap: 7px;
    padding: 7px; */
    border-radius: 8px;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
    display: none;
}

p-tabview {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.p-tabview {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.p-tabview .p-tabview-nav li {
    flex: 1;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: none;
    border: none;
}

.p-tabview-panels {
    display: flex;
    flex: 1;
    overflow: hidden;
    padding: 0 !important;
}

.tab_active {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    width: 100%;
}

.dash_board_footer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    background-color: #e9e9e9;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.my_balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    flex: 1;
}

.my_balance h6 {
    margin: 0;
    color: #ffffff;
    text-align: center;
}

.rupees_cntnt {
    color: #fff;
    font-size: 20px;
}

.rupees,
.percentage {
    white-space: nowrap;
}

.rupees::before {
    content: "\20B9";
    font-family: "primeicons";
    margin-right: 2px;
}

.percentage::after {
    content: "\0025";
    font-family: "primeicons";
    margin-right: 2px;
}

.y_dashboard {
    background: var(--linear_gradient);
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    display: flex;
    gap: 10px;
    box-shadow: var(--shadow);
}

.main_header h2 {
    margin: 0;
    font-size: 22px;
    color: var(--theme_color);
}

/* .cntnt_card {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
} */

.balance_action {
    display: flex;
    flex: 1;
}

.p-button {
    color: #ffffff;
    background: var(--theme_color);
}
.signout .p-button {
    width: 100%;
}

.balance_action .p-button {
    border-radius: 50px;
    background: #0288bb;
}

.balance_action .p-button:enabled:hover {
    background: #0583b3;
}

.balance_action .p-button:enabled:focus {
    background: #0583b3;
}

.invitation_code .p-button {
    border-radius: 50px;
}

p-button.p-button {
    padding: 0;
}

p-button.p-button button {
    width: 100%;
}

.p-button:enabled:hover {
    background: #007faf;
}

.p-button:enabled:focus {
    background: #007faf;
}

.dash_board_footer_design {
    display: flex;
}

.dash_board_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    gap: 7px;
}

.dash_board_icon:hover {
    color: var(--theme_color);
}

.products_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products_head h6 {
    margin: 0;
}

.tab_active .p-tabview-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* gap: 5px; */
    /* padding-top: 10px; */
    /* overflow: hidden; */
}

.tab_active .p-tabview-panel > div {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
}

.cntnt_card {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 7px;
    /* overflow: auto; */
}

.cntnt_card h5 {
    color: var(--theme_color);
    margin: 0;
}

.products_head .p-button {
    color: #ffffff;
    background: var(--theme_color);
    border-radius: 50px;
    padding: 5px 12px;
}

.products_head p-button.p-button {
    padding: 0;
}

.products_head .p-button:enabled:hover {
    background: #007faf;
}

.products_head .p-button:enabled:focus {
    background: #007faf;
}

.products_cntnt {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* overflow: hidden; */
    justify-content: center;
}

.product_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 160px;
    gap: 15px;
    padding: 10px;
    /* overflow: hidden; */
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.product_card_cntnt label>span {
    white-space: nowrap;
}

.product_card h6,
.cntnt_name h6 {
    color: var(--theme_color);
    font-size: 16px;
}

.user_images {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_images img {
    width: 180px;
}

.product_card_cntnt {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8b8b8b;
    width: 100%;
}

.cntnt_name {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.d_income {
    color: #008000 !important;
}

.theme_color {
    color: var(--theme_color);
}

.vip_0 {
    border: 2px solid #8b8b8b;
    box-shadow: #8b8b8b 0px 3px 8px;
}

.vip_1 {
    border: 2px solid #a57c4c;
    box-shadow: #a57c4c 0px 3px 8px;
}

.vip_2 {
    border: 2px solid #b8d8f5;
    box-shadow: #b8d8f5 0px 3px 8px;
}

.vip_3 {
    border: 2px solid #fe7f1b;
    box-shadow: #fe7f1b 0px 3px 8px;
}

.vip_4 {
    border: 2px solid #97a9ba;
    box-shadow: #97a9ba 0px 3px 8px;
}

.vip_5 {
    border: 2px solid #fdcf1c;
    box-shadow: #fdcf1c 0px 3px 8px;
}

.invitation_code {
    display: flex;
    flex-direction: column;
    gap: 33px;
    border: 1px dashed var(--theme_color);
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f8ff;
    background-image: url(./assets/demo/images/referal_img/referal_img.png);
    background-position: bottom;
    background-position: 214px 59px;
    background-repeat: no-repeat;
    background-size: 200px;
}

.invitation_references {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 420px) {
    .as_logo_cntnt {
        width: 100%;
        max-width: 280px;
    }

    .box {
        width: 280px !important;
    }
}

.recharge_cntnt {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.recharge_card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--linear_gradient);
    border-radius: 10px;
    width: 100%;
    box-shadow: var(--shadow);
    padding: 10px;
}

.payments_input input[type="text"] {
    width: 100%;
    background-image: url(./assets/demo/images/indian_rupee.png);
    background-size: 11px;
    background-position: 10px;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    padding-left: 32px;
}

.recharge_card * {
    color: #fff;
}

.recharge_body {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.drop_down .p-dropdown {
    width: 100%;
}

input {
    width: 100%;
}

.payments_cntnt {
    display: flex;
    flex-flow: column;
    gap: 7px;
}

.payment_one {
    display: flex;
    background-color: var(--theme_color);
    padding: 7px;
    color: #fff;
    border-radius: 4px;
}

.recharge_button {
    display: flex;
    flex-direction: column;
}

.choosing_button {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}
.choosing_button .p-button {
    border-radius: 50px;
    flex: 1;
}

.choosing_button .p-button button {
    width: 100%;
    padding: 5px 10px !important;
}

.orders_body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.my_orders {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    padding: 20px 0px;
}

.order_list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    overflow-x: hidden;
}

.my_orders .user_images img {
    width: 129px;
}

.my_orders small {
    color: #8b8b8b;
}

.order_list_cntnt {
    display: flex;
    flex-direction: column;
}

.order_list .cntnt_name {
    align-items: flex-start;
}

.ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

/* teams */

.team {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service_card {
    padding: 2em 1.5em;
    border-radius: 5px;
    box-shadow: var(--shadow);
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-top: 5px solid #018abe;
}

.service_card h3 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--theme_color);
    margin: 1em 0;
    z-index: 3;
}

.service_card p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    z-index: 3;
}

.service_card .icon-wrapper {
    background-color: #0882ab;
    height: 100px;
    width: 100px;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 7px solid var(--theme_color);
}

.service_card .icon-wrapper span {
    font-size: 30px;
}

.team_commition_div {
    display: flex;
    gap: 20px;
}
.team_commition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* teams end */

.count_details {
    flex: 1;
    display: flex;
    align-items: end;
}

.finance_ivesting {
    display: flex;
    gap: 10px;
}

.inline_gap {
    display: flex;
    gap: 10px;
}


.form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
}